@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <div class="input-group number-spinner">
                <span class="input-group-btn data-dwn">
                    <button class="btn btn-default btn-danger" data-dir="dwn">-</button>
                </span>
                <input type="text" class="form-control text-center" value="1" min="0" max="1000" id="chiffre" name="chiffre">
                <span class="input-group-btn data-up">
                    <button class="btn btn-default btn-success" data-dir="up">+</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <button type="button" class="btn btn-primary" id="valider" name="valider">Valider</button>

</div>
</div>